<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <meta name="description" content="описание не длиннее 155 символов">
    <meta name="keywords" content="мета-теги, шаблон, html, css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
    <link rel="stylesheet" type="text/css" href="styles/css/styles.min.css">
    @@include('html_code.html')
</head>
<body>
