<label class="check" for="checkbox1">
    <input class="check__input" type="checkbox" id="checkbox1">
    <span class="check__box"></span>
    Checkbox label
</label>
<label class="check" for="checkbox2">
    <input class="check__input" type="checkbox" id="checkbox2" checked>
    <span class="check__box"></span>
    Checkbox label
</label>
<label class="check" for="checkbox3">
    <input class="check__input" type="checkbox" id="checkbox3" disabled>
    <span class="check__box"></span>
    Checkbox label
</label>
<label class="check" for="checkbox4">
    <input class="check__input" type="checkbox" id="checkbox4" checked disabled>
    <span class="check__box"></span>
    Checkbox label
</label>

