<header class="header">
    <div class="header__content _container">
        <div class="header__nav nav">
            <button class="nav__icon nav-btn js-nav-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="nav__body js-nav-body">
                <ul class="nav__list">
                    <li><a href="" class="nav__link">Header link</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
