<label class="radio" for="radio1">
    <input class="radio__input" type="radio" id="radio1" name="radio-group">
    <span class="radio__box"></span>
    Radio label
</label>
<label class="radio" for="radio2">
    <input class="radio__input" type="radio" id="radio2" name="radio-group" checked>
    <span class="radio__box"></span>
    Radio label
</label>
<label class="radio" for="radio3">
    <input class="radio__input" type="radio" id="radio3" disabled>
    <span class="radio__box"></span>
    Radio label
</label>
<label class="radio" for="radio4">
    <input class="radio__input" type="radio" id="radio4" checked disabled>
    <span class="radio__box"></span>
    Radio label
</label>
