/* Container width =========================================================================================================== */
$container-max-width: 1232px;

/* Padding =========================================================================================================== */
$pd: 16px;

/* Text colors =========================================================================================================== */
$text-color: #000;

/* Animations =========================================================================================================== */
$animate-duration-effect: 500ms;

