/* Container width =========================================================================================================== */
$container-max-width: 1200px;

/* Text colors =========================================================================================================== */
$text-color: #333;

/* Animations =========================================================================================================== */
$animate-duration-effect: 500ms;

