.about-section {
  background-color: rgba(209, 209, 209, .2);
  padding-top: rem(110);
  padding-bottom: 0;
  position: relative;
  z-index: 1;

  @include for-size(tablet-portrait-up) {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 277px;
      background-color: #ff0000;
      right: calc((100% - 1200px) / 2);
      height: 70px;
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet-portrait-down) {
    flex-direction: column-reverse;
  }

  &__text {
    margin-top: rem(30);
    padding-bottom: rem(90);

    @include for-size(tablet-portrait-up) {
      width: calc(45% - 36px);
      margin-top: 0;
    }

    p {
      margin-top: 0;
    }
  }

  &__tile-text {
    margin-top: rem(30);
    position: relative;
    z-index: 2;

    @include for-size(tablet-portrait-up) {
      width: 55%;
      margin-top: 0;
      margin-bottom: rem(70);
      background-color: #fff;
      padding: rem(30);
    }

    p {
      margin-top: 0;
    }
  }

  &__img {
    display: inline-flex;
    z-index: 1;

    @include for-size(tablet-portrait-up) {
      position: absolute;
      top: rem(-150);
      right: 0;
      bottom: rem(-77);
      width: calc(65% - 36px);
    }
  }
}
