.advantages {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet-portrait-down) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 23%;

    @include for-size(phone-only) {
      min-width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include for-size(tablet-portrait-down) {
      min-width: 33.3%;
      margin-bottom: rem(20);
    }
  }
}

.advantage {
  text-align: center;
  padding: 0 rem(30);

  &__img {
    height: 70px;
  }

  p {
    margin-bottom: 0;
  }
}
