.header {
  height: 90px;
  position: relative;
  z-index: 4;
  transition: all $animate-duration-effect ease;

  &._fixed {
    height: 90px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  @include for-size(tablet-portrait-up) {
    height: 189px;
    padding-top: 10px;

    &._fixed {
      height: 120px;
    }
  }

  &._active {
    z-index: 6;
    background-color: #fff;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__logo {
    width: rem(140);
    display: inline-block;

    @include for-size(tablet-portrait-up) {
      margin-right: rem(50);
    }
  }
}

.nav {
  @include for-size(tablet-portrait-down) {
    background-color: #fff;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    height: calc(100vh - 90px);
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity $animate-duration-effect ease;

    &._active {
      opacity: 1;
      visibility: visible;
      overflow-y: auto;
    }
  }

  @include for-size(tablet-portrait-up) {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    @include for-size(tablet-portrait-down) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    list-style: none;
    position: relative;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(30);

      @include for-size(tablet-portrait-up) {
        margin-right: rem(30);
        margin-bottom: 0;
      }
    }
  }

  &__link {
    --color: #000;
    text-decoration: none;
    color: var(--color);
    position: relative;
    transition: color $animate-duration-effect ease;

    &:before {
      content: "";
      position: absolute;
      bottom: -6px;
      height: 2px;
      left: 0;
      right: 100%;
      transition: right $animate-duration-effect ease;
    }

    &--active {
      &:before {
        --color: #ff0000;
        right: 0;
        background-color: var(--color);
      }
    }

    @media (hover: hover) and (pointer: fine) {
      .nav__item:last-child &:hover {
        --color: #000;
      }
      &:hover {
        --color: #ff0000;

        &:before {
          right: 0;
          background-color: var(--color);
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(40);

    @include for-size(tablet-portrait-up) {
      align-items: flex-end;
      margin-top: 0;
    }
  }

  &__contact {
    &:first-child {
      margin-bottom: rem(10);
    }
  }
}

.sub-nav {
  padding: 0;
  margin: 1rem 0 0 0;

  @include for-size(tablet-portrait-up) {
    position: absolute;
    width: 500px;
    background-color: #fff;
    padding: $pd;
    top: 100%;
    left: -50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: hidden;
    transition: all $animate-duration-effect ease;
  }

  @media (hover: hover) and (pointer: fine) {
    .nav__link:hover + &,
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    list-style: none;

    @include for-size(tablet-portrait-up) {
      text-align: left;
    }

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__link {
    --color: #000;
    text-decoration: none;
    color: var(--color);
    position: relative;
    transition: color $animate-duration-effect ease;
    font-size: rem(18);

    &._active {
        --color: #ff0000;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --color: #ff0000;
      }
    }
  }
}
