.nav-btn {
	--color: #000;
  height: 26px;
  position: relative;
  width: 35px;
  background-color: transparent;

  @include for-size(tablet-portrait-up) {
    display: none;
  }

  &._active {
    height: 30px;
  }

  span {
    background-color: var(--color);
    height: 2px;
    left: 0;
    border-radius: 2px;
    position: absolute;
    right: 0;
    transition: transform $animate-duration-effect ease;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 12px;
    }

    &:last-child {
      top: 24px;
    }
  }

  &._active {
    span {
      &:first-child {
        top: 8px;
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        top: 8px;
        transform: rotate(45deg);
      }
    }
  }
}
