/* Container =========================================================================================================== */
._container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: $pd;
  padding-right: $pd;
}

._container-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: $pd;
  padding-right: $pd;

  @include for-size(desktop-up) {
    margin-left: calc((100% - 1200px) / 2);
    padding-right: 0;
  }
}

/* Contact link =========================================================================================================== */
.contact-link {
  --color: #fff;
  font-size: rem(25);
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
  transition: color $animate-duration-effect ease;
  display: inline-flex;
  align-items: center;

  .header._fixed & {
    --color: #000;
  }

  &--small {
    font-size: 1rem;
  }

  svg {
    height: 26px;
    width: 26px;
    fill: var(--color);
    margin-right: rem(15);
    transition: fill $animate-duration-effect ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      --color: #000;
    }

    .footer &:hover {
      --color: #ff0000;
    }
  }

  @include for-size(tablet-portrait-down) {
    --color: #000;

    .footer & {
      --color: #fff;
    }
  }
}

/* Section =========================================================================================================== */
.text-tiles {
  &--columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    background: rgba(209, 209, 209, 0.2);
    padding: 20px;
    font-size: rem(18);
    margin-bottom: 10px;

    &--title {
      font-size: rem(25)
    }

    .text-tiles--columns & {
      width: calc(50% - 5px);
    }
  }
}

/* Section =========================================================================================================== */
.section {
  padding-top: rem(77);
  padding-bottom: rem(77);
  position: relative;

  &__title {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    font-size: rem(60);
    position: relative;
    margin-bottom: rem(30);
    margin-top: 0;
    line-height: 1.4;

    @include for-size(tablet-portrait-down) {
      font-size: rem(40);
    }

    @include for-size(desktop-up) {
      padding-left: calc((100% - 1200px) / 2);
    }

    @include for-size(tablet-portrait-up) {
      &:before {
        content: attr(data-title);
        font-weight: 700;
        font-size: rem(80);
        position: absolute;
        bottom: -40px;
        left: 20px;
        opacity: 0.02;

        @include for-size(desktop-up) {
          left: calc((100% - 1200px) / 2);
        }
      }
    }

    @include for-size(desktop-up) {
      &:before {
        font-size: rem(160);
      }
    }
  }
}

/* Show all btn =========================================================================================================== */
.show-all {
  text-align: center;
  margin-top: rem(50);
}

/* Red back =========================================================================================================== */
.has-red-back {
  @include for-size(tablet-portrait-up) {

    &:before {
      content: '';
      position: absolute;
      top: -189px;
      width: 35vw;
      background-color: #ff0000;
      right: 0;
      height: 740px;
    }

    &:after {
      content: "";
      position: absolute;
      top: -189px;
      border-top: 440px solid transparent;
      border-bottom: 300px solid transparent;
      border-right: 180px solid red;
      right: 35vw;
      width: 10vw;
    }
  }
}

/* Content =========================================================================================================== */
.content {
  h2 {
    font-size: rem(50);
  }
}

/* Image background cover =========================================================================================================== */
._ibg-cov {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Image background contain =========================================================================================================== */
._ibg-con {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* Visually hidden =========================================================================================================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
