/* Container =========================================================================================================== */
._container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: $pd;
  padding-right: $pd;
}

/* Contact link =========================================================================================================== */
.contact-link {
  --color: #fff;
  font-size: rem(25);
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
  transition: color $animate-duration-effect ease;

  svg {
    height: 26px;
    width: 26px;
    fill: var(--color);
    margin-right: rem(15);
    display: inline-block;
    vertical-align: middle;
    transition: fill $animate-duration-effect ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      --color: #000;
    }
  }
  @include for-size(tablet-portrait-down) {
    --color: #000;
  }
}

/* Image background =========================================================================================================== */
.section {
  padding-top: rem(77);
  padding-bottom: rem(77);

  &__title {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    font-size: rem(60);
    position: relative;
    margin-bottom: rem(60);
    margin-top: 0;

    @include for-size(desktop-up) {
      margin-left: calc((100% - 1200px) / 2);
    }

    &:before {
      content: attr(data-title);
      font-weight: 700;
      font-size: rem(160);
      position: absolute;
      bottom: -40px;
      left: 20px;
      opacity: 0.02;
    }
  }
}

/* Image background =========================================================================================================== */
.advantages {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet-portrait-down) {
    overflow-x: auto;
  }

  &__item {
    width: 23%;

    @include for-size(tablet-portrait-down) {
      min-width: 220px;
    }
  }
}

.advantage {
  text-align: center;
  padding: 0 rem(30);

  &__img {
    height: 70px;
  }
}

/* Image background cover =========================================================================================================== */
._ibg-cov {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Image background contain =========================================================================================================== */
._ibg-con {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* White space - nowrap =========================================================================================================== */
._nobr {
  white-space: nowrap;
}

/* Overflow hidden =========================================================================================================== */
._overflow-hid {
  overflow: hidden;
  // Fix for safari
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

/* Visually hidden =========================================================================================================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
