.breadcrumbs {
	position: relative;
	white-space: nowrap;

	&__item {
		&:hover {

		}

		&:last-child {
			cursor: default;
			pointer-events: none;
			text-decoration: none;
		}

		&:not(:last-child) {
			&::after {
				content: '>';
				display: inline-block;
				margin-left: 6px;
			}
		}
	}
}
