<footer class="footer">
    <div class="footer__content _container">
        <a class="footer__logo">
            <img src="styles/img/logo-footer.png" alt="Техстрой">
        </a>
        <div class="footer__col">
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a href="about.html" class="footer-nav__link">О компании</a>
                </li>
                <li class="footer-nav__item">
                    <a href="projects.html" class="footer-nav__link">Наши проекты</a>
                </li>
                <li class="footer-nav__item">
                    <a href="" class="footer-nav__link">Отзывы</a>
                </li>
                <li class="footer-nav__item">
                    <a href="" class="footer-nav__link">Контакты</a>
                </li>
                <li class="footer-nav__item">
                    <a href="services.html" class="footer-nav__link">Услуги</a>
                </li>
            </ul>
            <ul class="footer-sub-nav">
                <li class="footer-sub-nav__item">
                    <a href="" class="footer-sub-nav__link">Монтаж внутренних инженерных систем</a>
                </li>
                <li class="footer-sub-nav__item">
                    <a href="" class="footer-sub-nav__link">Внутренние отделочные работы в жилых комплекса</a>
                </li>
                <li class="footer-sub-nav__item">
                    <a href="" class="footer-sub-nav__link">Сантехнические работы</a>
                </li>
                <li class="footer-sub-nav__item">
                    <a href="" class="footer-sub-nav__link">Слаботочные работы</a>
                </li>
                <li class="footer-sub-nav__item">
                    <a href="" class="footer-sub-nav__link">Вентиляция</a>
                </li>
                <li class="footer-sub-nav__item">
                    <a href="" class="footer-sub-nav__link">Электромонтаж</a>
                </li>
            </ul>
            <a href="" class="politics-link">Политика конфиденциальности</a>
        </div>
        <div class="footer__col">
            <div class="footer__contacts">
                <a href="tel:" class="contact-link footer__contact">
                    <svg>
                        <use xlink:href="styles/icons/icons.svg#phone"></use>
                    </svg>
                    <span>+7 (000) 000-00-00</span>
                </a>
                <a href="" class="contact-link contact-link--small footer__contact">
                    <svg>
                        <use xlink:href="styles/icons/icons.svg#pin"></use>
                    </svg>
                    <span>
                        Московская обл. г. Красногорск, б-р Ильинский, д. 5
                    </span>
                </a>
                <a href="mailto:" class="contact-link contact-link--small footer__contact">
                    <svg>
                        <use xlink:href="styles/icons/icons.svg#mail"></use>
                    </svg>
                  <span>email@info.ru</span>
                </a>
            </div>
            <div class="copyright">2021 © Разработано студией</a>
        </div>
    </div>
</footer>
