<header class="header js-header">
    <div class="header__content _container">
        <a href="/" class="logo">
            <img src="styles/img/logo.png" alt="Техстрой">
        </a>
        <nav class="nav js-nav-body">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="" class="nav__link">О компании</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Услуги</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Наши проекты</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Отзывы</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Контакты</a>
                </li>
            </ul>
            <div class="nav__contacts">
                <a href="tel:" class="contact-link nav__contact">
                    <svg>
                        <use xlink:href="styles/icons/icons.svg#phone"></use>
                    </svg>
                    <span>+7 (000) 000-00-00</span>
                </a>
                <a href="mailto:" class="contact-link nav__contact">
                    <svg>
                        <use xlink:href="styles/icons/icons.svg#mail"></use>
                    </svg>
                    <span>email@info.ru</span>
                </a>
            </div>
        </nav>
        <button class="nav-btn js-nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
