@@include('page-set/page-doctype.html', {"title":"Наши проекты"})
@@include('page-blocks/header.html', {"link":"4"})
<main>
    <section class="section has-red-back not-found-section">
        <div class="_container">
            <h1 class="not-found-section__title">404</h1>
            <p class="not-found-section__subtitle">Страница не найдена!</p>
            <p class="not-found-section__text">Страница, на которую вы пытаетесь попасть, не существует или была удалена.</p>
            <p class="not-found-section__text">Вы можете вернутся</p>
            <a href="./" class="btn-red">На главную</a>
        </div>
    </section>
</main>
@@include('page-blocks/footer.html', {"class":"back-red-left"})
@@include('page-set/scripts.html')
</body>
</html>
