@@include('page-set/page-doctype.html', {"title":"Техстрой"})
@@include('page-blocks/header.html', {"link":""})
<main>
    <section class="banner">
        <h1 hidden>Техстрой - Монтаж внутренних инженерных систем</h1>
        <div class="banner__slider swiper js-banner-slider">
            <div class="swiper-wrapper">
                @@for(var i = 0; i < 3; i++) {
                <div class="banner__slide swiper-slide">
                    <div class="banner__back _ibg-cov">
                        <img src="img/banner.jpg" alt="">
                    </div>
                    <div class="banner__content _container">
                        <h2 class="banner__title">Монтаж внутренних инженерных систем</h2>
                        <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta, mi
                            nec faucibus tempor,
                            risus nisi tristique leo, tempor ultricies nibh eros eget eros.</p>
                        <a href="" class="btn-red banner__link">Подробнее</a>
                    </div>
                </div>
                }
                <div class="banner__slide swiper-slide">
                    <div class="banner__back _ibg-cov">
                        <img src="img/banner.jpg" alt="">
                    </div>
                    <div class="banner__content _container">
                        <h2 class="banner__title">Монтаж внутренних инженерных систем</h2>
                        <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta, mi
                            nec faucibus tempor,
                            risus nisi tristique leo, tempor ultricies nibh eros eget eros.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="section">
        <h2 class="section__title" data-title="Преимущества">Преимущества</h2>
        <div class="advantages _container">
            @@for(var i = 0; i < 5; i++) {
            <div class="advantage advantages__item">
                <div class="advantage__img _ibg-con">
                    <img src="img/advantage.svg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
            }
        </div>
    </section>
    <section class="section">
        <h2 class="section__title" data-title="Услуги">Услуги</h2>
        <div class="tabs _container">
            <div class="tabs__btns">
                <button class="tabs__btn _active js-tab-btn" id="1">Монтаж внутренних инженерных систем</button>
                <button class="tabs__btn js-tab-btn" id="2">Внутренние отделочные работы в жилых комплекса</button>
                <button class="tabs__btn js-tab-btn" id="3">Сантехнические работы</button>
                <button class="tabs__btn js-tab-btn" id="4">Слаботочные работы</button>
                <button class="tabs__btn js-tab-btn" id="5">Вентиляция</button>
                <button class="tabs__btn js-tab-btn" id="6">Электромонтаж</button>
            </div>
            <div class="tabs__content _active js-tab-content" data-content-tab="1">
                <div class="tabs__img _ibg-cov">
                    <img src="img/tab.jpg" alt="">
                </div>
                <div class="tabs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a
                    eros nec enim convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel
                    convallis massa tincidunt. Pellentesque sed velit elit.
                </div>
                <a href="" class="btn-red">Подробнее</a>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="2">
                <div class="tabs__img _ibg-cov">
                    <img src="img/tab.jpg" alt="">
                </div>
                <div class="tabs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a
                    eros nec enim convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel
                    convallis massa tincidunt. Pellentesque sed velit elit.
                </div>
                <a href="" class="btn-red">Подробнее</a>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="3">
                <div class="tabs__img _ibg-cov">
                    <img src="img/tab.jpg" alt="">
                </div>
                <div class="tabs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a
                    eros nec enim convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel
                    convallis massa tincidunt. Pellentesque sed velit elit.
                </div>
                <a href="" class="btn-red">Подробнее</a>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="4">
                <div class="tabs__img _ibg-cov">
                    <img src="img/tab.jpg" alt="">
                </div>
                <div class="tabs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a
                    eros nec enim convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel
                    convallis massa tincidunt. Pellentesque sed velit elit.
                </div>
                <a href="" class="btn-red">Подробнее</a>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="5">
                <div class="tabs__img _ibg-cov">
                    <img src="img/tab.jpg" alt="">
                </div>
                <div class="tabs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a
                    eros nec enim convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel
                    convallis massa tincidunt. Pellentesque sed velit elit.
                </div>
                <a href="" class="btn-red">Подробнее</a>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="6">
                <div class="tabs__img _ibg-cov">
                    <img src="img/tab.jpg" alt="">
                </div>
                <div class="tabs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a
                    eros nec enim convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel
                    convallis massa tincidunt. Pellentesque sed velit elit.
                </div>
                <a href="" class="btn-red">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="section about-section">
        <h2 class="section__title" data-title="О компании">О компании</h2>
        <div class="about about--rec _container-full">
            <div class="about__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a eros nec enim
                    convallis pretium sit amet id enim. Curabitur vulputate metus ac ante vehicula, vel convallis massa
                    tincidunt. Pellentesque sed velit elit. Nam suscipit sem in enim rhoncus, eget tincidunt ipsum
                    consectetur. Mauris mattis at metus eget viverra. Proin dignissim sit amet velit eget imperdiet.
                    Morbi vel lorem nec lacus euismod cursus. Vestibulum bibendum magna sed justo convallis porta.
                    Quisque vel venenatis velit. Curabitur id venenatis tortor, vitae egestas risus. Nam tincidunt metus
                    maximus pellentesque vestibulum. Cras et nisl vitae magna ultrices venenatis eget vitae massa.</p>
            </div>
            <div class="about__img _ibg-cov">
                <img src="img/about.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="section">
        <h2 class="section__title" data-title="Наши проекты">Наши проекты</h2>
        <div class="projects _container">
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj1.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut orci neque. Nam a eros nec enim
                        convallis pretium sit amet id enim. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj2.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj3.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj4.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj5.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj6.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj7.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>
            <div class="project projects__item js-project-link">
                <div class="project__back _ibg-cov">
                    <img src="img/prj8.jpg" alt="">
                </div>
                <a href="details.html" class="project__info">
                    <h4 class="project__title">Описание</h4>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </a>
                <a href="details.html" class="project__link js-project-more-link">Подробнее</a>
            </div>

            <span class="projects__red-back"></span>
        </div>
        <div class="show-all _container">
            <a href="projects.html" class="btn-red">Все проекты</a>
        </div>
    </section>
</main>
@@include('page-blocks/footer.html', {"class":""})
@@include('page-set/scripts.html')
</body>
</html>
