@@include('page-set/page-doctype.html', {"title":"Услуги"})
@@include('page-blocks/header.html', {"link":"2"})
<main>
    <section class="section has-red-back">
        <h1 class="section__title" data-title="Услуги">Услуги</h1>
        <div class="tabs tabs--no-flex _container">
            <ul class="tabs__btns">
                <li class="tabs__item">
                    <a href="" class="tabs__link _active">Монтаж внутренних инженерных систем</a>
                </li>
                <li class="tabs__item">
                    <a href="" class="tabs__link">Внутренние отделочные работы в жилых комплекса</a>
                </li>
                <li class="tabs__item">
                    <a href="" class="tabs__link">Сантехнические работы</a>
                </li>
                <li class="tabs__item">
                    <a href="" class="tabs__link">Слаботочные работы</a>
                </li>
                <li class="tabs__item">
                    <a href="" class="tabs__link">Вентиляция</a>
                </li>
                <li class="tabs__item">
                    <a href="" class="tabs__link">Электромонтаж</a>
                </li>
            </ul>
            <div class="tabs__content _active">
                <div class="tab-gallery">
                    <a href="img/prj2.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj3.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj6.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj7.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj4.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj5.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj6.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj7.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                    <a href="img/prj8.jpg" class="tab-gallery__img _ibg-cov" data-fancybox="gallery">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </a>
                </div>
                <section class="section content">
                    <h2>Заголовок 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc orci purus, consequat gravida viverra in,
                        feugiat id magna. Aliquam porta varius velit, sed imperdiet risus semper eget. Sed lobortis malesuada
                        hendrerit. Nunc non ligula ut orci gravida cursus. Suspendisse pulvinar felis in ante tincidunt, eu
                        gravida tortor maximus. Vivamus sit amet pulvinar nisl. Pellentesque habitant morbi tristique senectus
                        et netus et malesuada fames ac turpis egestas. Ut eu tincidunt massa, a dictum mauris. Nullam aliquam
                        ipsum elit, nec euismod dolor porta sed. Fusce non vulputate nulla. Maecenas ligula risus, iaculis sed
                        egestas eu, dapibus eget erat. Vestibulum vel euismod augue. Maecenas lobortis tellus eget neque
                        vulputate, sed tempor purus dapibus.</p>
                </section>
            </div>
        </div>
    </section>
</main>
@@include('page-blocks/footer.html', {"class":"back-red-right"})
@@include('page-set/scripts.html')
</body>
</html>
