@@include('page-set/page-doctype.html', {"title":"Услуги"})
@@include('page-blocks/header.html', {"link":"2"})
<main>
    <section class="section has-red-back">
        <h1 class="section__title" data-title="Услуги">Услуги</h1>
        <div class="tabs tabs--no-flex _container">
            <div class="tabs__btns">
                <button class="tabs__btn _active js-tab-btn" data-tab="1">Монтаж внутренних инженерных систем</button>
                <button class="tabs__btn js-tab-btn" data-tab="2">Внутренние отделочные работы в жилых комплекса
                </button>
                <button class="tabs__btn js-tab-btn" data-tab="3">Сантехнические работы</button>
                <button class="tabs__btn js-tab-btn" data-tab="4">Слаботочные работы</button>
                <button class="tabs__btn js-tab-btn" data-tab="5">Вентиляция</button>
                <button class="tabs__btn js-tab-btn" data-tab="6">Электромонтаж</button>
            </div>
            <div class="tabs__content _active js-tab-content" data-content-tab="1">
                <div class="tab-gallery">
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="2">
                <div class="tab-gallery">
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="3">
                <div class="tab-gallery">
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="4">
                <div class="tab-gallery">
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="5">
                <div class="tab-gallery">
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tab-content" data-content-tab="6">
                <div class="tab-gallery">
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj2.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj3.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj4.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj5.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj6.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj7.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                    <div class="tab-gallery__img _ibg-cov">
                        <img src="img/prj8.jpg" alt="">
                        <div class="tab-gallery__info">
                            <h4 class="tab-gallery__title">Описание</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section content _container">
        <h2>Заголовок 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc orci purus, consequat gravida viverra in,
            feugiat id magna. Aliquam porta varius velit, sed imperdiet risus semper eget. Sed lobortis malesuada
            hendrerit. Nunc non ligula ut orci gravida cursus. Suspendisse pulvinar felis in ante tincidunt, eu
            gravida tortor maximus. Vivamus sit amet pulvinar nisl. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Ut eu tincidunt massa, a dictum mauris. Nullam aliquam
            ipsum elit, nec euismod dolor porta sed. Fusce non vulputate nulla. Maecenas ligula risus, iaculis sed
            egestas eu, dapibus eget erat. Vestibulum vel euismod augue. Maecenas lobortis tellus eget neque
            vulputate, sed tempor purus dapibus.</p>
    </section>
</main>
@@include('page-blocks/footer.html', {"class":"back-red-right"})
@@include('page-set/scripts.html')
</body>
</html>
